.trip-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
}

.trip-dates {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 40vw;
}

.city-map {
  grid-column: 2/2;
  grid-row: 1/2;
  height: 100vh;
}