.CityDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

.amenity-wrapper {
  display: flex;
  align-self: flex-start;
  margin: 0 0 10px 15px;
}

.city-name {
  padding: 10px 0 5px 0;
}

.amenity-title {
  width: 150px;
}

.city-detail-img {
  margin-bottom: 5px;
}

.city-description {
  max-width: 85vw;
}